.img__layout {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    img {
        border-radius: 10px;
        margin: 10px 10px;
        border: 1px solid rgba(255,255,255,0.3);
    }

    .img__descriptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img__descriptions :first-child {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 8px;
        
    }
    .img__descriptions :last-child {
        margin-top: 5px;
    }
    
    
}

.recorder__view {
    display: flex;
    flex-direction: column;
    position: relative;

    .form__border {
        padding: 40px 10px;
        border: 1px solid $red;
        border-radius: 10px;
        
    }
    .first__input {
        margin-bottom: 30px;
    }

    .video__tag{
        position: absolute;
        left: 80px;
        bottom: 420px;
    }
    .thum__tag {
        position: absolute;
        left: 80px;
        bottom: 330px;

    }

    .recorder__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hitBtn {
            background-color: $red;
            text-align: center;
        }
        

    }
    .startBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
        
        #startBtn{
            width: 100px;
            height: 30px;
            background-color: $red;
            color: white;
            border: 1px solid rgba(255,255,255,0.2);
            border-radius: 10px;
            font-size: 20px;
            
        }
    }

}