input:not(input[type="range"]){
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 90%;
    &::placeholder{
        color: rgba(255,255,255,0.8);
    }
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: $red;
    text-align: center;
    cursor: pointer;
}