//video mixin
.video-mixin {
    .video-mixin__thumb {
        
        height: 180px;
        border-radius: 7px;
        width: 300px;
        background-color: ivory;
    }
    .video-mixin__data {
        padding: 0px 15px;
        .video-mixin__title {
            font-size: 18px;
            display: block;
            margin-top: 10px;
        }
        .video-mixin__meta {
            font-size: 12px;
            margin-top: 5px;
        }
    }
    
}