extends base.pug
include mixins/video

block content 
    h2 hello 
        nav
            ul 
                li
                    a(href="/videos/upload") Upload Video
        each video in videos 
            +video(video)
        else 
            li Sorry Nothing found