extends base.pug

block content
    main
        div.join__container
            a(href="/").tube__logo
                i.fab.fa-youtube
            h3 Wetube    
            if errorMessage
                span=errorMessage
            div.join__title 회원가입    
            form(method="POST").join__form
                input(placeholder="Name", name="name", type="text", required).join__input
                input(placeholder="Email", name="email", type="email", required).join__input
                input(placeholder="Username", name="username", type="text", required).join__input
                input(placeholder="Password", name="password", type="password", required).join__input
                input(placeholder="Confirm Password", name="password2", type="password", required).join__input
                input(placeholder="Location", name="location", type="text", required).join__input
                input(type="submit", value="가입하기").join__btn
            
            div.ask__join     
                span 이미 계정이 있으신가요?  
                a(href="/login") 로그인 하기 &rarr;