extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old password", type="password", name="oldPassword" )
        input(placeholder="new password", type="password", name="newPassword")
        input(placeholder="new password confirmation",type="password",  name="newPasswordConfirmation")
        input(type="submit",value="change Password")